/*.navbar-nav {*/

/*    width: 100%;*/

/*    text-align: center;*/

/*}*/

/*.navbar-nav li {*/

/*    float: none;*/

/*    display: inline-block;*/

/*}*/

/*.asdfasdf {*/
/*    color: green;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background-color: #00bcd4;*/
/*}*/

.gitlogin_margin {
    padding-top:50vh;
    background-color: white;
}


.general_margin{
    margin-top: 1%;
}

.liker_margin{
    margin: auto;
}
