.gitlogin_margin {
    padding-top:50vh;
    background-color: white;
}


.general_margin{
    margin-top: 1%;
}

.liker_margin{
    margin: auto;
}


.jumbotron paginatio {
    background-color: blue;
    display: inline;
}